body {
  background: url(../images/markus-spiske-357131-unsplash.jpg);
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
h1 {
  color: whitesmoke;
}
.btn-lg {
  margin: auto;
  margin-top: 90px;
  width: 375px;
  height: 350px;
  font-family: inherit;
  font-size: 50px;
  border-radius: 10px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 12px 30px 12px 30px;
  border: solid #18ab29 1px;
  text-decoration: none;
}
