body {
  padding: 30px 0;
  background: url(../images/emre-gencer-95245-unsplash.jpg);
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
}
.form-signin input {
  margin-top: 6px;
}
.form-signin select {
  margin-top: 6px;
}
